[submodule "test/catch2"]
	path = test/external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule ".ci/recipe/snippets"]
	path = .ci/recipe/snippets
	url = https://github.com/flatsurf/conda-snippets.git
